// Colors

$dark-green: #003333;
$green: #0f4d4d;

$light-grey: #eee;
$grey: #bbb;
$dark-grey: #333;

$theme-darker: #000e0e;
$theme-dark: #001f1f;
$theme-primary: #003333;
$theme-light: #0c4b4b;
$theme-lighter: #226666;
$theme-bright: #22b0b0;
